.wp-post-content h2 {
  color: var(--wp--preset--color--contrast-2);
  font-size: var(--wp--preset--font-size--medium);
  margin-bottom: var(--wp--preset--spacing--10);
}

.is-rounded {
  border-radius: var(--wp--preset--spacing--5);
}
.has-shadow {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.is-tag-list a {
  text-decoration: none;
}
.is-tag-list:hover {
  transform: scale(1.05);
}
.has-font-weight-normal {
  font-weight: 400;
}
.has-font-weight-semibold {
  font-weight: 500;
}

.has-font-style-normal {
  font-style: normal;
}
